table{
    text-align: left;
    word-break: break-all;
}

tbody {
    background-color: #ddd;
    height: 100px;
    overflow: scroll;
    display: block;
}

th, td {
    padding: 3px 10px;
}


thead, tbody tr {
    display:table;
    width:100%;
    table-layout: fixed;
}

thead, tbody{
    width: 75%;
}