<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Inventory</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>let msg = "";</script>
            {% for message in messages %}
                <script>msg += "{{message}}";</script>
            {% endfor%}
            <script>alert(msg)</script>
        {% endif %}
    {% endwith %}
    <form id="add-form" action="/add" method="post" novalidate>
        {{ add_form.hidden_tag() }}
        {{ add_form.name(type="hidden") }}
        {{ add_form.color(type="hidden") }}
        {{ add_form.size(type="hidden") }}
        {{ add_form.purchased(type="hidden") }}
        {{ add_form.sold(type="hidden") }}
    </form>
    <form id="delete-form" action="/delete" method="post" novalidate>
        {{ delete_form.hidden_tag() }}
        {{ delete_form.id(type="hidden") }}
    </form>
    <form id="update-form" action="/update", method="post" novalidate>
        {{ update_form.hidden_tag() }}
        {{ update_form.id(type="hidden") }}
        {{ update_form.name(type="hidden") }}
        {{ update_form.color(type="hidden") }}
        {{ update_form.size(type="hidden") }}
        {{ update_form.purchased_price(type="hidden") }}
        {{ update_form.sold_price(type="hidden") }}
    </form>

    <div class="table-container">
        <h1>Inventory</h1>
        <table>
            <thead>
                <tr>
                    <th width="10px">&#10006</th>
                {% for data in header %}
                    <th>{{ data }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in content %}
            <tr>
                <td width="10px"><button class="remove-button" onclick="deleteRow(this)">&#10006</button></td>
                {% for data in row %}
                <td>{{ data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="calculator-container">
         <h1>Ebay Fees Calculator</h1>
        <p>Under Construction</p>
    </div>

    <script>
        function deleteRow(element) {
            let row = element.parentNode.parentNode;
            let id = Number(row.children[1].innerHTML);
            let deleteForm = document.getElementById("delete-form");
            let idField = deleteForm.children[1];
            idField.value = id;
            deleteForm.submit();
        }
    </script>
</body>
</html>